@charset "utf-8";
/* CSS Document */

/*=====================================COLOR-BOXES-CSS==========================*/
@import 'https://fonts.googleapis.com/css?family=Roboto:500,500i,700,700i,900';
body {
    font-size: 14px;
    overflow-x: hidden;
    background-color: #E5E5E5;
    font-family: 'Open Sans', sans-serif !important;
}


.activity-block {
    background: white;
    width: 100%;
    display: block;
    float: left;
    margin: 15px auto 15px auto;
  padding: 10px 13px;
    height: 150px;
    border-radius: 4px;
    position: relative;
    color: #fff !important;
}


.activity-block.success {
    background: #2dc1c9;
    background: -moz-linear-gradient(left, #2dc1c9 0%, #2194c1 30%, #252d47 100%);
    background: -webkit-linear-gradient(left, #2dc1c9 0%, #2194c1 30%, #252d47 100%);
    /* background: linear-gradient(to right, #2dc1c9 0%, #2194c1 30%, #252d47 100%); */
    color: #fff;
}
.activity-block.danger {
    background: #e47c64;
    background: -moz-linear-gradient(left, #e47c64 0%, #e36481 30%, #252d47 100%);
    background: -webkit-linear-gradient(left, #e47c64 0%, #e36481 30%, #252d47 100%);
    background: linear-gradient(to right, #e47c64 0%, #e36481 30%, #252d47 100%);
    color: #fff;
}
.activity-block.warning {
    background: #ffba00;
    background: -moz-linear-gradient(left, #ffba00 0%, #fc9244 30%, #252d47 100%);
    background: -webkit-linear-gradient(left, #ffba00 0%, #fc9244 30%, #252d47 100%);
    background: linear-gradient(to right, #ffba00 0%, #fc9244 30%, #252d47 100%);
    color: #fff;
}
.activity-block.primary {
    background: #7a79fe;
    background: -moz-linear-gradient(left, #7a79fe 0%, #a758f5 30%, #252d47 100%);
    background: -webkit-linear-gradient(left, #7a79fe 0%, #a758f5 30%, #252d47 100%);
    background: linear-gradient(to right, #7a79fe 0%, #a758f5 30%, #252d47 100%);
    color: gray;
}
.activity-block.info {
      background: #5bc0de;
    background: -moz-linear-gradient(to right, rgba(76, 175, 80, 0.69) 0%, #4CAF50 30%, #214e23 100%);
    background: -webkit-linear-gradient(to right, rgba(76, 175, 80, 0.69) 0%, #4CAF50 30%, #214e23 100%);
    background: linear-gradient(to right, rgba(76, 175, 80, 0.69) 0%, #4CAF50 30%, #214e23 100%);
    color: #fff;
}
.activity-block.default {
      background: #959801 ;
    background: -moz-linear-gradient(to right, rgba(154, 156, 62, 0.76) 0%, #959801 30%, #5d5f19 100%);
    background: -webkit-linear-gradient(to right, rgba(154, 156, 62, 0.76) 0%, #959801 30%, #5d5f19 100%);
    background: linear-gradient(to right, rgba(154, 156, 62, 0.76) 0%, #959801 30%, #5d5f19 100%);
    color: #fff;
}
.activity-block.custom {
    background: #00c0ef   ;
    background: -moz-linear-gradient(to right, rgba(0, 192, 239, 0.43) 0%, rgba(0, 192, 239, 0.95) 30%, #1b4b56 100%);
    background: -webkit-linear-gradient(to right, rgba(0, 192, 239, 0.43) 0%, rgba(0, 192, 239, 0.95) 30%, #1b4b56 100%);
    background: linear-gradient(to right, rgba(0, 192, 239, 0.43) 0%, rgba(0, 192, 239, 0.95) 30%, #1b4b56 100%);
    color: #fff;
}
.activity-block.secondary {
    background: #3b5998;
    background: -moz-linear-gradient(to right, rgba(59, 89, 152, 0.78) 0%, #3b5998 30%, #102758 100%);
    background: -webkit-linear-gradient(to right, rgba(59, 89, 152, 0.78) 0%, #3b5998 30%, #102758 100%);
    background: linear-gradient(to right, rgba(59, 89, 152, 0.78) 0%, #3b5998 30%, #102758 100%);
    color: gray;
}

.activity-block.success * {
    color: #ffffff !important;
}
.activity-block h5 {
  font-weight: 500;
    font-size: 25px;
}
.activity-block.success * {
    color: #ffffff !important;
}
.activity-block p {
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 0.5px;

}
.activity-block.success * {
    color: #ffffff !important;
}
.activity-block i {
    font-size: 24px;
    margin-top: 10px;
}
.activity-block .progress-heading {
        font-size: 15px;
    color: #fff;
    font-weight: 400;
    position: relative;

    left: 5px;
    top: 4px;
}

.activity-block .bg-icon {
    font-size: 100px;
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 0;
    opacity: 0.1;
    padding: 0 15px;
}
.activity-block i {
    font-size: 35px;
    margin-top: 5px;
}
.text-center {
    text-align: center !important;
}
.activity-block .media {
    display: flex;
    align-items: flex-start;
}
.row.border-contnet {
    background: transparent;
    position: relative;
    top: 16px;
    margin-left: -13px;
    margin-right: -13px;
    border-top: 1px solid #f7efef;
    font-size: 16px;
}
p.total-amount {
    position: relative;
    right: 7px;
    top: 5px;
    font-weight: 400;
}
.main-box{
    padding-right: 0px;
}
.box-four{
 padding-right: 15px !important;   
}
.box-eight{
  padding-right: 15px !important;     
}
/*------------------END--------------------*/

table.table-bordered.dataTable tbody th,
 table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    font-size: 13px;
}
 table.table-bordered.dataTable tbody td i{
	 margin-right:5px;
	 font-size:14px;
}
button.dt-button, div.dt-button, a.dt-button {
position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em;
    padding: 5px 20px;
    border: 1px solid #c62928;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.88em;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    background-color: #c62928;
    background-image: -webkit-linear-gradient(top, #c62928 0%, #c62928 100%);
}
button.dt-button:hover, div.dt-button:hover, a.dt-button:hover {
	background: #fff !important;
	color: #f4ac00;
	border: 1px solid #f4ac00 !important;
}
.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
	background-color: #c62928;
		border: 1px solid #c62928 !important;
}
.page-link:focus, .page-link:hover {
    color: #f4ac00;
}

.addform-block .control-label {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0 !important;
    display: table;
    vertical-align: middle;
    font-weight: 600;
    letter-spacing: 0;
    color: #1b1b1b;
    margin-top: 8px;
    text-transform: uppercase;
    font-size: 11px;
}
.addform-block .form-group {
    margin-bottom: 20px !important;
    overflow: hidden;
}
.addform-block .form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 13px;
    line-height: 1.25;
    color: #1b1b1b !important;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    height: 35px !important;
}
.addform-block .cost-list  {
    padding-left: 35%;
}
.addform-block .cost-list li {
    display: inline-block;
    margin-right: 80px;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #c62928;
}
.addform-block .radio {
    display: inline-block;
    margin-right: 1px;
}
.addform-block .radio input[type="radio"] {
    opacity: 0;
}
.addform-block .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}
.addform-block .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.addform-block .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.addform-block .radio input[type="radio"]:checked + label::before {
    border-color: #428bca;
}
.addform-block .radio input[type="radio"]:checked + label::after {
    background-color: #428bca;
}
.addform-block .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.addform-block .radio input[type="radio"] + label::after {
    background-color: #428bca;
}
.addform-block .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    font-size: 15px;
    font-weight: 600;
    padding-right: 5px;
}
.addform-block textarea.form-control {
    height: 100px !important;
}
.addform-block span.star {
    color: #c62928;
    font-size: 18px;
}
.add-save{
    padding: 5px 50px;
    background: #c62928;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 17px;
    margin-top: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    background: #bfbfbf;
    color: #212121;
    border: 1px solid #bfbfbf;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}